---
layout: default
bodyclass: home
---

<div class="site-section site-section--hero text-center">
    <div class="container">

        <img src="{{ '/assets/img/hero.svg' | relative_url }}" width="610" height="418" alt="We’re a bunch of regular scousers who pool our money so we can give away £500 every month to imaginative projects that make a real difference in the Liverpool City Region">

    </div>
</div>

<div class="site-section site-section--off-white action-box-overlap text-center">
    <div class="container">

        <div class="action-box">
            <div class="action-box__primary">
                <a id="apply"></a>
                <h2>Got an awesome idea?</h2>
                <p>Before you apply, read our guidance. It’ll&nbsp;help you make your application as good as it can possibly be!</p>
                <p><a href="{{ site.guidance_url }}" class="btn btn-lg btn-primary">Read our guidance</a></p>
                <p>Then, when you’re ready, <a href="{{ site.apply_url }}">apply via our online form</a>.</p>
            </div>
            <div class="action-box__secondary">
                <h2>Not quite ready yet?</h2>
                <p>Don‘t worry. Follow our email newsletter for tips and inspiration every few months, and then apply in the future.</p>
                <form action="{{ site.mailchimp_post_url }}" method="post">
                    <input type="hidden" name="TYPE" value="Friend of Awesome">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f062d0e725b566a1a68eae970_3dfec013c7" tabindex="-1" value=""></div>
                    <label for="email">Your email address</label>
                    <div class="d-flex justify-content-center">
                        <input type="email" name="EMAIL" id="email" class="form-control form-control-lg mr-3">
                        <button class="btn btn-lg btn-secondary d-flex align-items-center" type="submit" aria-label="Submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="#FFF" fill-rule="nonzero"><path d="M0 10h21v4H0z"/><path d="M12.689 23.311L9.86 20.483l8.484-8.484L9.86 3.517 12.69.689 24 11.999 12.69 23.312z"/></g></svg></button>
                    </div>
                </form>
                <p><a href="{{ site.mailchimp_archive_url }}">View past editions of the newsletter</a></p>
            </div>
        </div>

        <h2>Some of the projects we’ve supported since 2014</h2>
        <div class="row row-cols-1 row-cols-md-3 text-left winners">
            <div class="col mb-4">
                {% include project-card.html title="Liverpool Community Radio" date="March 2025" url="https://www.awesomefoundation.org/en/projects/338749-liverpool-community-radio" image="lcr-fm.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Liverpool Sunflowers arts programme" date="January 2025" url="https://www.awesomefoundation.org/en/projects/313346-liverpool-sunflowers-arts-programme" image="liverpool-sunflowers.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Queer Places" date="April 2024" url="https://www.awesomefoundation.org/en/projects/260741-queer-places" image="queer-places.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Young First Aiders" date="January 2024" url="https://www.awesomefoundation.org/en/projects/250727-young-first-aiders" image="young-first-aiders.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Zap Graffiti paint space" date="October 2023" url="https://www.awesomefoundation.org/en/projects/239352-zap-graffiti-paint-space" image="zap-graffiti.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Tales of Culture, Refuge &amp; Heritage" date="April 2023" url="https://www.awesomefoundation.org/en/projects/221341-tales-of-culture-refuge-heritage-photo-exhibit" image="young-producers.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Walton Hall Park Christmas Book Hunt" date="October 2021" url="https://www.awesomefoundation.org/en/projects/178713-walton-hall-park-christmas-book-hunt" image="walton-hall-park-christmas.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="Exhibition of Bums" date="May 2021" url="https://www.awesomefoundation.org/en/projects/170048-exhibition-of-bums" image="exhibition-of-bums.jpg" %}
            </div>
            <div class="col mb-4">
                {% include project-card.html title="ROOT-ed Zine | Work Issue" date="May 2020" url="https://www.awesomefoundation.org/en/projects/143154-root-ed-zine-work-issue" image="rooted.jpg" %}
            </div>
        </div>
        <a href="https://www.awesomefoundation.org/en/chapters/liverpool" class="btn btn-primary">See all our winning projects</a>

    </div>
</div>

<div class="site-section site-section--white border-top border-bottom text-center">
    <div class="container">

        <a id="trustees"></a>
        <h2>Want to go a step further and become a trustee?</h2>

        <div class="text-centred-44em">
            <p>Our “trustees” aren’t trustees in any official sense. They’re just regular people with a passion for making Liverpool more awesome. Most trustees pay £50 a month into the Awesome Liverpool pot, but we’re also happy for trustees to contribute in other ways, like organising applicant comms, or running our social media.</p>
            <p>We’re always open to new trustees – especially ones who can help us reach new audiences we’re not currently reaching, or can add a new perspective to our panel. There are no qualification requirements for being a trustee.</p>
            <p>If you want to talk to us about becoming an Awesome Liverpool trustee, email <a href="mailto:liverpool@awesomefoundation.org">liverpool@awesomefoundation.org</a> – we’d love to talk to you!</p>
        </div>

        <h3 class="text-pink mt-6 mb-0">Our current trustees</h3>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 justify-content-center">
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Andrew Beattie" image="andrew-beattie.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Jubeda Khatun" image="jubeda-khatun.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Jonathan Deamer" image="jonathan-deamer.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Julian Moss" image="julian-moss.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Laura Prior" image="laura-prior.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Miranda Melcher" image="miranda-melcher.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Roz Dean" image="roz-dean.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Mark Swift" image="mark-swift.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Sally-Anne Watkiss" image="sally-anne-watkiss.jpg" %}
            </div>
            <div class="col mt-5">
                {% include trustee-mugshot.html name="Zarino Zappia" image="zarino-zappia.png" %}
            </div>
        </div>

        <p class="mt-6 text-muted mx-auto" style="font-size: 0.8em; max-width: 58em;">Thanks also to our trustees emeritus, who are now pursuing their own avenues of awesomness elsewhere in the world: Francis Irving, Ross Jones, Simon Holgate, Wayne Malcolm, Bridget Waters, David Worral, Kate Stewart, Graham Haywood, Charles Oddy, Nicola Wass, David Parrish, David Williams &amp; Oliver Press, Nathan Pearson, Lynne Robertson, Jim Noakes, Mark Hodgson, Robyn Dooley, Lucy Chesters, Alex Kelly, Laura Marie-Brown, Ian Parry, Alison Lockett-Burke, Lee Omar, Mark Russell, Nick Graham, Laura David, Andrea Ku, the Baltic Creative team, Leon Rossiter, Amber Jones-Eddy, Ruth Hartnoll, John Maguire, Mark Sabino, Louisa Burman, Charlotte Ray, Sally Brajkovich, Lucy Gardner, and Rebecca Taylor.</p>

    </div>
</div>

<div class="site-section site-section--off-white">
    <div class="container">

        <h2 class="text-center">What’s the history of Awesome Liverpool?</h2>

        <div class="text-centred-44em">
            <p>We are the Liverpool chapter of the international <a href="https://www.awesomefoundation.org">Awesome Foundation</a>.</p>

            <p>In 2014, a group of friends in the Liverpool tech sector realised there wasn’t a functioning Awesome chapter in the UK yet, so they set one up. Since then, we’ve been joined by a stunning roster of volunteer trustees, from all sorts of backgrounds, each donating their time, expertise, and usually £50 a month, to help make awesome projects happen in and around Liverpool.</p>

            <p>Anyone in the Liverpool City Region can apply for a £500 gift, and we particularly welcome applications from people who wouldn’t normally apply to the big funding bodies. There’s no limit to the number of times you can apply (or the number of times you can win) and we judge each application on its own merits.</p>

            <p>The £500 gifts are no strings attached – there’s no reporting or checking up. We trust you to spend the £500 wisely, furthering Awesome in the universe.</p>

            <p>We generally like to see projects that:</p>

            <ol class="checklist">
                <li>Solve a problem</li>
                <li>Have a clear budget</li>
                <li>Benefit Liverpool</li>
                <li>Bring joy to the world</li>
            </ol>

            <p>If you think you have an idea that hits those criteria, <a href="{{ site.guidance_url }}">read our guidance for top tips on making your application stand out</a>, and then <a href="{{ site.apply_url }}">apply online</a>.</p>
        </div>

    </div>
</div>
