<nav class="site-nav">
  <div class="container">
    <a href="/" class="site-logo">Awesome Liverpool</a>
    <label class="houdini-label site-nav__toggle-links" for="houdini-toggle-menu" aria-label="Toggle menu">Menu</label>
    <input class="houdini-input" type="checkbox" id="houdini-toggle-menu">
    <ul class="houdini-target site-nav__links">
      <li><a href="#about">About <span class="hidden-sm">Awesome</span></a></li>
      <li><a href="#winners">Past winners</a></li>
      <li><a href="#apply">Apply for £500</a></li>
      <li><a href="https://twitter.com/awesomelpl"><span class="visible-xs-inline">Twitter</span></a></li>
      <li><a href="https://facebook.com/AwesomeLiverpool"><span class="visible-xs-inline">Facebook</span></a></li>
    </ul>
  </div>
</nav>