<div class="card h-100">
  {% if include.image %}
    <img src="{{ include.image | prepend: '/assets/img/' | relative_url }}" width="500" height="300" class="card-img-top" loading="lazy" alt="">
  {% else %}
    <svg class="card-img-top" width="500" height="300" xmlns="http://www.w3.org/2000/svg" focusable="false" role="img" aria-label="Placeholder"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect></svg>
  {% endif %}
    <div class="card-body">
        <h3 class="card-title"><a href="{{ include.url | default: '#' }}">{{ include.title | default: 'Project McProjectface' }}</a></h3>
        <p class="card-text">{{ include.date }}</p>
    </div>
</div>
