html, body {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    text-transform: uppercase;
}

.btn-secondary {
    @include button-variant(#fff, $color-awesome-orange, $color-awesome-orange);
}

p {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

.site-logo {
    display: block;
    overflow: hidden;
    width: 230px;
    height: 0;
    padding-top: 50px;
    background: transparent url(../img/site-logo.png) left bottom no-repeat;
    background-size: 230px 40px;
    @media($high-dpi-screen){
        background-image: url(../img/site-logo@2x.png);
    }
    background-image: url(../img/site-logo.svg), none;
}

.cta {
    background-color: $color-awesome-pink;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: -3em 0 1em 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    @media (min-height: 500px) {
        margin-top: -4em;
    }

    @media (min-height: 600px) {
        margin-top: -5em;
    }

    @media (min-height: 700px) {
        margin-top: -6em;
    }

    @media (min-width: $screen-sm-min) {
        margin-top: -12em;

        @media (min-height: 500px) {
            margin-top: -13em;
        }

        @media (min-height: 600px) {
            margin-top: -15em;
            padding: 1.5em 1em;
        }

        @media (min-height: 700px) {
            margin-top: -16em;
            padding: 2em 1.5em;
        }
    }

    @media (min-width: $screen-md-min) {
        @media (min-height: 500px) {
            margin-top: -12em;
        }

        @media (min-height: 600px) {
            margin-top: -14em;
        }

        @media (min-height: 700px) {
            margin-top: -16em;
        }
    }

    .form-control {
        border: none;
    }

    label {
        margin-bottom: 1em;

        @media (min-width: $screen-md-min) {
            font-size: 21px;
        }
    }
}

.cta__muted {
    color: mix($color-awesome-pink, #fff, 30%);
}

.what-is-awesome-video {
    margin-top: 2em;
}

.criteria {
    @extend .list-unstyled;

    border-bottom: 1px solid darken($color-awesome-mint, 10%);

    li {
        padding: 0.4em 0.5em 0.4em 0;
        border-top: 1px solid darken($color-awesome-mint, 10%);

        &:before {
            @include fa-icon();
            content: $fa-var-check;
            float: right;
            color: $color-awesome-pink;
            font-size: 24px;
        }
    }
}

.btn--apply-now {
    margin: 0.3em 0;
    width: 80%;
}

.responsive-iframe {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: (100% * (720/1280)); // 16x9 aspect ratio

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
