.site-nav {
    background-color: $color-awesome-pink;
    color: #fff;
    padding: 1em 0;

    @include transition(0.25s linear padding);

    @media (min-width: $screen-sm) {
        @include clearfix();
        padding: 1.5em 0;

        .houdini-label {
            display: none;
        }

        .houdini-target {
            display: block;
        }
    }

    .site-logo {
        float: left;
    }

    .houdini-label {
        float: right;
        padding: 0 0.5em;
        background: rgba(255,255,255,0.3);
        line-height: 30px;
        margin-top: 10px;
        font-size: 0.8em;
    }

    a {
        color: #fff;
    }

    a[href^="https://facebook.com"],
    a[href^="https://twitter.com"] {
        &:before {
            @include fa-icon();
        }

        span {
            margin-left: 0.5em;
        }
    }

    a[href^="https://facebook.com"] {
        &:before {
            content: $fa-var-facebook-official;
            font-size: 1.2em;
            vertical-align: -0.05em;
        }
    }

    a[href^="https://twitter.com"] {
        &:before {
            content: $fa-var-twitter;
            font-size: 1.3em;
            vertical-align: -0.05em;
        }
    }
}

.site-nav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.site-nav--minimal {
    padding: 1em 0;
}

.site-nav__links {
    @include list-unstyled();
    margin: 0;
    clear: both;

    @media (min-width: $screen-sm) {
        float: right;
        clear: none;
        margin-right: -0.5em;
        text-align: right;

        li, a {
            display: inline-block;
        }
    }

    a {
        padding: 0.5em 0;
        display: block;

        @media (min-width: $screen-sm) {
            padding: 0.5em;
            line-height: (50px - 9px - 9px);
        }
    }
}
