// Color system

$white: #fff;
$gray-100: #F8F9FA; // used for $light
$gray-600: #8C959A; // used for $secondary
$gray-800: #2D2D2D; // used for $dark
$black: #000;

$blue: #0059A3;
$pink: #F23D75;
$red: #F50400;
$orange: #FD9B14;
$yellow: #ffe000;
$green: #0EB43A;
$teal: #00CECB;
$cyan: #00B7EB;

$primary: $pink;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// Options

// Spacing

// Body

// Links

$link-color: $blue;

// Paragraphs

// Grid breakpoints

// Grid containers

// Grid columns

// Components

$line-height-lg: 1.66;
$line-height-sm: 1.66;

// Typography

$font-family-sans-serif: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$line-height-base: 1.66;

$headings-margin-bottom: 1rem;
$headings-font-weight: 600;

// Tables

// Buttons + Forms

// Buttons

// Forms

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Jumbotron

// Cards

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Code

// Utilities

// Printing
